.speech {
    color:nth($orangeColors, 4);
    background-color:invert(nth($orangeColors, 4));
    width:800px;
    margin:auto;
    padding:10px;
    & .extra{
        display:none;
        background-color:$hotpink;
    }
    & span {
        background-color:$palegoldenrod;
    }
}

#allDone {
    cursor:pointer;
    font-size:20px;
    width:100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:$snow;
    background-color:black;
    margin:auto;
    margin-bottom:10px;
    padding-top:5px;
    padding-bottom: 5px;
}