
//red
$crimson : #DC143C;
$darkred : #8B0000;
$maroon : 	#800000;
$firebrick : #B22222;
$indianred : #CD5C5C;

//pink 
$hotpink : 	#FF69B4;
$lightcoral : 	#F08080;
$lightpink : 	#FFB6C1;
$mediumvioletred : #C71585;
$orchid : #DA70D6;
$palevioletred : #DB7093;

//orange
$coral : #FF7F50;
$darkorange : #FF8C00;
$darksalmon : #E9967A;
$lightsalmon : #FFA07A;
$orangered : #FF4500;
$orange : #FFA500;
$tomato : #FF6347;

//blue
$cornflowerblue : #6495ED;
$darkblue : #00008B;
$deepskyblue : #00BFFF;
$dodgerblue : #1E90FF;
$midnightblue : #191970;
$paleturquoise : #AFEEEE;
$royalblue : 	#4169E1;
$steelblue : #4682B4;


//bluegreen 
$lightseagreen : #20B2AA;
$darkcyan : #008B8B;
$mediumaquamarine : #66CDAA;
$mediumturquoise : #48D1CC;
$teal : #008080;
$bluegreenColors : ($lightseagreen, $darkcyan, $mediumaquamarine, $mediumturquoise, $teal);

//green 
$forestgreen : #228B22;
$limegreen : #32CD32;
$mediumseagreen : #3CB371;
$mediumspringgreen : #00FA9A;
$olivedrab : #6B8E23;
$seagreen : #2E8B57;
$yellowgreen : 	#9ACD32;
$greenColors : ($forestgreen, $limegreen, $mediumseagreen, $mediumspringgreen, $olivedrab, $seagreen, $yellowgreen);

//purple
$darkorchid : #9932CC;
$darkslateblue : #483D8B;
$darkviolet : 	#9400D3;
$mediumorchid : #BA55D3;
$mediumpurple : #BA55D3;
$mediumslateblue : 	#7B68EE;
$purpleColors : ($darkorchid, $darkslateblue, $darkviolet, $mediumorchid, $mediumpurple, $mediumslateblue);

//yellow
$gold : #FFD700;
$goldenrod : #DAA520;
$khaki : #F0E68C;
$yellowColors : ($gold, $goldenrod, $khaki);

//beige
$cornsilk : #FFF8DC;
$blanchedalmond : #FFEBCD;
$moccasin : 	#FFE4B5;
$navajowhite : #FFDEAD;
$palegoldenrod : 	#EEE8AA;
$tan : #D2B48C;

//brown
$darkgoldenrod : #B8860B;
$peru : 	#CD853F;
$saddlebrown : #8B4513;
$brownColors : ($darkgoldenrod, $peru, $saddlebrown);

//gray
$lightsteelblue : #B0C4DE;
$lightslategray : #778899;
$whitesmoke : #F5F5F5;
$grayColors : ($whitesmoke, $lightslategray, $lightsteelblue);

//white 
$seashell : #FFF5EE;
$snow : #FFFAFA;
$whiteColors : ($snow, $seashell);

//Color Groups
$redColors: ($crimson, $darkred, $maroon, $firebrick, $indianred );
$pinkColors : ($hotpink, $lightcoral, $lightpink, $mediumvioletred, $orchid, $palevioletred );
$orangeColors : ($coral, $darkorange, $darksalmon, $lightsalmon, $orangered, $orange, $tomato );
$blueColors : ($cornflowerblue, $darkblue, $deepskyblue, $dodgerblue, $midnightblue, $paleturquoise, $royalblue, $steelblue );







